/* @import url("default.css");
span.caption-text {
  color: red;
}
*/
/* .wy-menu > .caption > span.caption-text {
  color: red;
}  */
@import url("default.css");

/* h1{
  color: var(--h1-color)
}

h2{
  color: var(--color-brand-content,#00ff00)
} */

a:link {
  color: var(--color-brand-content);
  /* text-decoration: underline; */
}

a:visited {
  color: var(--color-brand-content);
}

a:hover {
  color: var(--color-link--hover);
}

/* .toc-list {
  color: #fff;
} */

.header-2 { 
	/* color: var(--h2-color); */
  color: var(--color-foreground-primary)
} 

/* finally a way to define the background color of the pygments theme 
though unfortunately this only 'covers up' the default
*/
.highlight pre {
  background-color: var(--color-background-secondary);
  border-radius: 3px;


}


/* Input cells */
div.cell div.cell_input {
  /* padding-left: 0em;
  padding-right: 0em; */
  margin: 0em !important;
  border: none !important;
  /* background: var(--color-background-secondary); */
  /* background-color: red; */
  background: none !important;
  /* border-color: transparent; */
  /* border-left-width: medium; */
}


div.cell_input > div, div.cell_output div.output > div.highlight {
  margin: 0em !important;
  border: none !important;
  /* background-color: var(--color-background-secondary); */
}

/* All cell outputs */
.cell_output {
  /* background: var(--color-background-secondary); */
  /* background-color: var(--color-background-secondary); this works */
  background: none !important;
  padding-left: 0em;
  padding-right: 0em;
  margin-top: 1em;
}

/* Text outputs from cells */
.cell_output .output.text_plain,
.cell_output .output.traceback,
.cell_output .output.stream,
.cell_output .output.stderr {
  /* background: var(--color-background-secondary); */
  /* background: red; */

  background: transparent !important;
  /* border: 1px var(--color-foreground-border); */
  border: none;
  margin-top: 1em;
  margin-bottom: 0em;
  box-shadow: none;
}



.wy-nav-content {
  max-width: none;
}