/* @import url("default.css");
span.caption-text {
  color: red;
}
*/
/* .wy-menu > .caption > span.caption-text {
  color: red;
}  */
/* @import url("basic.css"); */
/* @import url("furo.css"); */
/* @import url("sphinx_rdt_theme.css");*/
/* @import url("//media.readthedocs.org/css/sphinx_rtd_theme.css"); */
/* @import 'furo.css'; */

/* @import 'sphinx_rtd_theme.css'; */



/* text-color */

/* @import url("//media.readthedocs.org/css/sphinx_rtd_theme.css"); */

/* h1{
  color: var(--h1-color)
}

h2{
  color: var(--color-brand-content,#00ff00)
} */

a:link {
  color: var(--sinebow23);
  /* text-decoration: underline; */
}

a:visited {
  color: var(--sinebow23);
}

a:hover {
  color: var(--color-link--hover);
}

/* .toc-list {
  color: transparent;
} */

.header-2 { 
	/* color: var(--h2-color); */
  color: var(--color-foreground-primary)
} 

/* finally a way to define the background color of the pygments theme 
though unfortunately this only 'covers up' the default
*/
.highlight pre {
  background-color: var(--color-background-secondary);
  border-radius: 3px;
  /* color: transparent; */

}


/* Input cells */
div.cell div.cell_input {
  /* padding-left: 0em;
  padding-right: 0em; */
  margin: 0em !important;
  border: none !important;
  /* background: var(--color-background-secondary); */
  /* background-color: red; */
  background: none !important;
  /* border-color: transparent; */
  /* border-left-width: medium; */
}


div.cell_input > div, div.cell_output div.output > div.highlight {
  margin: 0em !important;
  border: none !important;
  /* background-color: var(--color-background-secondary); */
}

/* All cell outputs */
.cell_output {
  /* background: var(--color-background-secondary); */
  /* background-color: var(--color-background-secondary); this works */
  background: none !important;
  padding-left: 0em;
  padding-right: 0em;
  margin-top: 1em;
}

/* Text outputs from cells */
.cell_output .output.text_plain,
.cell_output .output.traceback,
.cell_output .output.stream,
.cell_output .output.stderr {
  /* background: var(--color-background-secondary); */
  /* background: red; */

  background: transparent !important;
  /* border: 1px var(--color-foreground-border); */
  border: none;
  margin-top: 1em;
  margin-bottom: 0em;
  box-shadow: none;
}

.sidebar-tree .reference {color: none  !important}
.sidebar-tree .toctree-l1 > .reference {color: None !important}
.sidebar-tree .toctree-l1 > label .icon {color: var(--color-foreground-muted)}

a {
  color: none !important;
  /* text-decoration: underline; */
}

/* This keeps link colors persistent within the text */
a[href^="installation.html"] {color: var(--sinebow11) !important;}
a[href^="gui.html"] {color: var(--sinebow12) !important;}
a[href^="inputs.html"] {color: var(--sinebow13) !important;}
a[href^="settings.html"] {color: var(--sinebow14) !important;}
a[href^="outputs.html"] {color: var(--sinebow15) !important;}
a[href^="training.html"] {color: var(--sinebow16) !important;}
a[href^="notebook.html"] {color: var(--sinebow17) !important;}

/* a[href^="examples/mono_channel_bact.html"] {color: var(--sinebow6) !important;}
a[href^="examples/multi_channel_cyto.html"] {color: var(--sinebow7) !important;} */

a[href^="command.html"] {color: var(--sinebow18) !important;}
a[href^="api/index.html"] {color: var(--sinebow19) !important;}

a[href^="ncolor.html"] {color: var(--sinebow20) !important;}
a[href^="diameter.html"] {color: var(--sinebow21) !important;}
a[href^="gamma.html"] {color: var(--sinebow22) !important;}

a[href^="index.html"] {color: var(--sinebow10) !important;}


.wy-alert-title,.rst-content .admonition-title{
  color:none;
  font-weight:bold;
  display:block;
  color:none;
  background:none;
  margin:-12px;
  padding:6px 12px;
  margin-bottom:12px
}

.sidebar-tree ul {color:none}


/* This keeps link colors on the sidebar persistent */
.sinebow0 {color: var(--sinebow0) !important;}
.sinebow1 {color: var(--sinebow1) !important;}
.sinebow2 {color: var(--sinebow2) !important;}
.sinebow3 {color: var(--sinebow3) !important;}
.sinebow4 {color: var(--sinebow4) !important;}
.sinebow5 {color: var(--sinebow5) !important;}
.sinebow6 {color: var(--sinebow6) !important;}
.sinebow7 {color: var(--sinebow7) !important;}
.sinebow8 {color: var(--sinebow8) !important;}
.sinebow9 {color: var(--sinebow9) !important;}
.sinebow10 {color: var(--sinebow10) !important;}
.sinebow11 {color: var(--sinebow11) !important;}
.sinebow12 {color: var(--sinebow12) !important;}
.sinebow13 {color: var(--sinebow13) !important;}
.sinebow14 {color: var(--sinebow14) !important;}
.sinebow15 {color: var(--sinebow15) !important;}
.sinebow16 {color: var(--sinebow16) !important;}
.sinebow17 {color: var(--sinebow17) !important;}
.sinebow18 {color: var(--sinebow18) !important;}
.sinebow19 {color: var(--sinebow19) !important;}
.sinebow20 {color: var(--sinebow20) !important;}
.sinebow21 {color: var(--sinebow21) !important;}
.sinebow22 {color: var(--sinebow22) !important;}
.sinebow23 {color: var(--sinebow23) !important;}

