/*
 * blah
 */

.sinebow0 { 
 	color: #ff4040;
} 

.sinebow1 { 
 	color: #fe3051;
} 

.sinebow2 { 
 	color: #f92263;
} 

.sinebow3 { 
 	color: #f21676;
} 

.sinebow4 { 
 	color: #e90d89;
} 

.sinebow5 { 
 	color: #dd069c;
} 

.sinebow6 { 
 	color: #cf01ae;
} 

.sinebow7 { 
 	color: #bf00bf;
} 

.sinebow8 { 
 	color: #ae01cf;
} 

.sinebow9 { 
 	color: #9c06dd;
} 

.sinebow10 { 
 	color: #890de9;
} 

.sinebow11 { 
 	color: #7616f2;
} 

.sinebow12 { 
 	color: #6322f9;
} 

.sinebow13 { 
 	color: #5130fe;
} 

.sinebow14 { 
 	color: #4040ff;
} 

.sinebow15 { 
 	color: #3051fe;
} 

.sinebow16 { 
 	color: #2263f9;
} 

.sinebow17 { 
 	color: #1676f2;
} 

.sinebow18 { 
 	color: #0d89e9;
} 

.sinebow19 { 
 	color: #069cdd;
} 

.sinebow20 { 
 	color: #01aecf;
} 

.sinebow21 { 
 	color: #00bfbf;
} 

.sinebow22 { 
 	color: #01cfae;
} 

.sinebow23 { 
 	color: #06dd9c;
} 

.sinebow24 { 
 	color: #0de989;
} 

.sinebow25 { 
 	color: #16f276;
} 

.sinebow26 { 
 	color: #22f963;
} 

.sinebow27 { 
 	color: #30fe51;
} 

.sinebow28 { 
 	color: #40ff40;
} 

.sinebow29 { 
 	color: #51fe30;
} 

.sinebow30 { 
 	color: #63f922;
} 

.sinebow31 { 
 	color: #76f216;
} 

.sinebow32 { 
 	color: #89e90d;
} 

.sinebow33 { 
 	color: #9cdd06;
} 

.sinebow34 { 
 	color: #aecf01;
} 

.sinebow35 { 
 	color: #bfbf00;
} 

.sinebow36 { 
 	color: #cfae01;
} 

.sinebow37 { 
 	color: #dd9c06;
} 

.sinebow38 { 
 	color: #e9890d;
} 

.sinebow39 { 
 	color: #f27616;
} 

.sinebow40 { 
 	color: #f96322;
} 

.sinebow41 { 
 	color: #fe5130;
} 
