/*
 * blah
 */

.sinebow0 { 
 	color: #ff4040 !important;
} 

.sinebow1 { 
 	color: #fe3051 !important;
} 

.sinebow2 { 
 	color: #f92263 !important;
} 

.sinebow3 { 
 	color: #f21676 !important;
} 

.sinebow4 { 
 	color: #e90d89 !important;
} 

.sinebow5 { 
 	color: #dd069c !important;
} 

.sinebow6 { 
 	color: #cf01ae !important;
} 

.sinebow7 { 
 	color: #bf00bf !important;
} 

.sinebow8 { 
 	color: #ae01cf !important;
} 

.sinebow9 { 
 	color: #9c06dd !important;
} 

.sinebow10 { 
 	color: #890de9 !important;
} 

.sinebow11 { 
 	color: #7616f2 !important;
} 

.sinebow12 { 
 	color: #6322f9 !important;
} 

.sinebow13 { 
 	color: #5130fe !important;
} 

.sinebow14 { 
 	color: #4040ff !important;
} 

.sinebow15 { 
 	color: #3051fe !important;
} 

.sinebow16 { 
 	color: #2263f9 !important;
} 

.sinebow17 { 
 	color: #1676f2 !important;
} 

.sinebow18 { 
 	color: #0d89e9 !important;
} 

.sinebow19 { 
 	color: #069cdd !important;
} 

.sinebow20 { 
 	color: #01aecf !important;
} 

.sinebow21 { 
 	color: #00bfbf !important;
} 

.sinebow22 { 
 	color: #01cfae !important;
} 

.sinebow23 { 
 	color: #06dd9c !important;
} 

.sinebow24 { 
 	color: #0de989 !important;
} 

.sinebow25 { 
 	color: #16f276 !important;
} 

.sinebow26 { 
 	color: #22f963 !important;
} 

.sinebow27 { 
 	color: #30fe51 !important;
} 

.sinebow28 { 
 	color: #40ff40 !important;
} 

.sinebow29 { 
 	color: #51fe30 !important;
} 

.sinebow30 { 
 	color: #63f922 !important;
} 

.sinebow31 { 
 	color: #76f216 !important;
} 

.sinebow32 { 
 	color: #89e90d !important;
} 

.sinebow33 { 
 	color: #9cdd06 !important;
} 

.sinebow34 { 
 	color: #aecf01 !important;
} 

.sinebow35 { 
 	color: #bfbf00 !important;
} 

.sinebow36 { 
 	color: #cfae01 !important;
} 

.sinebow37 { 
 	color: #dd9c06 !important;
} 

.sinebow38 { 
 	color: #e9890d !important;
} 

.sinebow39 { 
 	color: #f27616 !important;
} 

.sinebow40 { 
 	color: #f96322 !important;
} 

.sinebow41 { 
 	color: #fe5130 !important;
} 


