name: Deploy

on:
  push:
    tags:
      - "v*"

jobs:
  docs:
    name: Build docs
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install docs dependencies
      run: |
        python -m pip install --upgrade pip --no-cache-dir
        pip install --no-cache-dir -r docs/requirements.txt

    - name: Build docs
      run: |
        rm -rf docs/api/api
        sphinx-build -b html docs docs/_build/html

  deploy:
    name: Deploy Package
    runs-on: ubuntu-latest
    needs: docs
    if: startsWith(github.ref, 'refs/tags/v')
    permissions:
      contents: read
      id-token: write
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install build tools
      run: |
        python -m pip install --upgrade pip --no-cache-dir
        pip install --no-cache-dir build setuptools setuptools_scm wheel

    - name: Build distribution
      run: python -m build --sdist --wheel

    - name: Publish to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
